<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This page helps register new users to the website">
    <meta name="author" content="Ognomo Daniel Bakyono">
    <link rel="icon" href="../../../../favicon.ico">
<link rel="stylesheet"
	href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet"
	href="{{ asset('assets/vendor/bootstrap/dist/css/signin.css') }}">

    <title>Register</title>

  </head>

  <body>

    <div class="container">
        <a class="btn btn-lg" href="{{ path('home') }}">Back Home <span class="sr-only">(current)</span></a>

      <form class="form-signin" >
        <h2 class="form-signin-heading">Please register</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
        <div class="checkbox">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ asset('assets/vendor/bootstrap/dist/css/ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
